@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.alien:hover {
  filter: drop-shadow(0 0 5em #a6fd01);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


body {
  background-color: #000; /* Replace with your desired background color */
}


body {
    margin: 0px;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 80pt;

    text-align: center;

    user-select: none;
}

.social-logo {
  margin-top: 20px; /* Adjust the margin-top as needed */
}

.name {
  color: #a6fd01;
  margin-top: 5px; /* Adjust the margin-top as needed */
  margin-bottom: 5px; /* Adjust the margin-top as needed */
  font-family: 'Barlow', sans-serif; /* Use the font name you selected */
}

h2.profession {
  margin-top: 5px; /* Adjust the margin-top as needed */
  font-family: 'monaco';
}

.back {
  text-align: center;
  padding: 20px; /* Adjust the padding as needed */
}

.typing-text {
  font-family: 'monaco';
  background-color: #000;
  color: #00ff00;
  padding: 10px;
  margin: 0;
  font-size: 14px;
}

#text-output {
  color: #00ff00;
  white-space: pre;
  overflow: hidden;
  border-right: 2px solid #00ff00;
  padding-right: 2px;
  animation: typing 2s steps(30) infinite;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}
